
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }

  header {
    position: relative;
  }
  
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  header img {
    width: 100%;
    height: auto;
  }


  section {
    padding: 20px;
  }
  
  #about h2, #subs h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sub {
    margin-bottom: 20px;
  }
  
  .sub img {
    width: 100%;
    height: auto;
  }
  
  .sub h3 {
    margin-top: 10px;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

.sub-1{
  background-image:url(/assets/Egg&Cress.jpeg);
}

.sub-2{
background-image: url(/assets/Pesto.jpeg);
}

.sub-3{
background-image: url(/assets/Paneer.jpeg);
}

.sub-4{
background-image: url(/assets/Chorizo.jpeg);
}