body {
  padding-top: 20px;
  background-color: #808080;
}

.container {
  margin-bottom: 50px;
}

.navbar {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding-top: 225px;
}

@media (max-width: 767px) {
  .col-7, .col-5 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-7 {
    width: 58.3333333333%;
  }

  .col-5 {
    width: 41.6666666667%;
  }
}

.buttons{
  padding-top: 10px;
}